/*Color List:
- light blue = 00AEEF;
- dark blue = 1C75BC
- green = 8DC63F
- dark green = 009444
- orange = F7941E
- dark orange = F15A29
- brown = 594a42; */

/***************************
****************************
Reset Styles
****************************
***************************/
@import "normalize.css";

/* Change all elements to use border-box */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/***************************
****************************
Base Styles
****************************
***************************/
body {
  color: #414042;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

h1,
h2,
h3 {
  font-weight: bold;
}

a {
  color: #8dc63f;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}

footer {
  color: white;
}

/***************************
****************************
Layout Styles
****************************
***************************/

/* Content Container */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
  /* border: 1px solid black; */
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

/* Row clear float */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Media Query excludes extra small devices and includes small and above */
/* When device is not small, the following will happen */
[class*="col-"] {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 48em) {
  [class*="col-"] {
    float: left;
  }
  /* Column Third */
  .col-1-3 {
    width: 33.3333%;
    min-height: 1px;
  }
  /* Column Two Thirds */
  .col-2-3 {
    width: 66.6666%;
  }

  /* Column One Half*/
  .col-1-2 {
    width: 50%;
  }

  /* Column One Quarter */
  .col-1-4 {
    width: 25%;
  }

  .col-1-6 {
    width: 16.6%;
  }

  .footer-divider {
    border: solid white 0.3px;
  }
}

/* Will pull div with pull-right-sm class to the right of the row when over 48em */
@media (min-width: 48em) {
  .pull-right-sm {
    float: right;
  }
}

@media only screen and (max-width: 47.9375em) {
  .remove-gutter-xs {
    padding-left: 0px;
    padding-right: 0px;
  }

  hr {
    visibility: hidden;
  }
}
/***************************
****************************
Module Styles
****************************
***************************/

/* ****************** */
/* Button Modules */
/* ****************** */
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  padding: 12px 30px;
  font-size: 1.313em;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}

.btn-primary {
  background: #8dc63f;
  border-color: #8dc63f;
  color: white;
}

.btn-primary:hover {
  background: none;
  border-color: white;
  text-decoration: none;
}

.btn-nav {
  color: white;
}

.btn-toggle-menu {
    position: absolute;
    top: 15px;
    right: 15px;
}

.btn-hero {
    color: white;
    background: none;
    font-size: 1.750em;
    padding: 15px 30px;
    border: 1px solid white;
}

.btn-hero:hover {
    color: #39B54A;
    background: white;
}

@media (min-width: 48em) {
    .btn-toggle-menu {
        display: none;
    }

    .btn-primary {
        font-size: 1.125em;
        padding: 10px 15px
    }

    .btn-primary:hover {
        stroke: 1px white;
        animation: fade;
    }

    .btn-nav {
      font-size: 1.125em;
      padding: 10px 15px;
    }

    .btn-nav:hover {
      text-decoration: none;
    }
}

/* ****************** */
/* Header Modules */
/* ****************** */
.header-primary {
  background: #9b8579;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

/* **************** */
/* Logo Modules */
/* **************** */
/* overflow hidden will mask part of logo for mobile */
.logo {
  overflow: hidden;
  display: inline-block;
}

.logo-primary {
  width: 64px;
  height: 64px;
}

/* Logo will scale up to fill all possible space */
.logo-primary img {
  height: 100%;
}

/* ********************** */
/* Navigation Modules */
/* ********************** */
.nav > ul {
  list-style: none;
  padding: 0p;
  margin: 0px;
  margin-right: 40px;
}

.nav-primary {
  margin-top: 35px;
  display: none;
}

@media (min-width: 48em) {
    .nav-primary {
        display: block;
    }
}

/* **************** */
/* Hero Medules */
/* **************** */
.hero {
    text-align: center;
}

.hero-primary {
    background-color: #594a42;
    color:white;
    padding-top: 25px;
    padding-bottom: 25px;
}

.hero-primary.bg-image > img {
  opacity: 0.55;
}


.hero-body {
  position: relative;
}

.hero-title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2.625em;
}

.hero-subtitle {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.500em;
    font-weight: normal;
}

/* Top margin for a button if one exists */
.hero-subtitle + button {
    margin-top: 25px;
}

/* *********************** */
/* Testimonial Modules */
/* *********************** */
.hero-secondary {
  background-color: #594a42;
  color:white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.hero-secondary.bg-image > img {
opacity: 0.55;
}

.stars {
    display: inline-block;
    opacity: 1;
}

.star {
  font-size: 72px;
  float: left;
  padding: 8px;
}

.testimonial {
  clear: both;
}

.testimonial-quote {
  font-style: italic;
  font-weight: normal;
  line-height: 2em;
  padding: 0px;
  font-size: 20px;

}

@media (min-width: 48em) {
    .testimonial-quote {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 1.13em;
  }
}

/* ********************** */
/* Background Modules */
/* ********************** */
.bg-image {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Select the direct img child of .bg-image in order to position the image */
/* This limits the scope of elements selected */
.bg-image > img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    min-width: 100%;
}

/* ********************** */
/* Media Object Module */
/* ********************** */
.media {
    padding-top: 40px;
    padding-bottom: 40px;
}

.media-body p {
    margin-bottom: 40px;
}
.media-item {
    float:left;
    margin-right: 30px;
}

.media-item i {
    color: #594a42;
    font-size: 5em;
}

.media, .media-body {
  overflow: hidden;
}

.media-heading {
  margin: 0;
  font-size: 1.3em;
}

.media-body p {
    margin-top: 0;
    font-size: 16px;
}

@media (min-width: 48em) {
    .media {
        padding: 40px;
    }
}
/***************************
****************************
Theme Styles
****************************
***************************/

.background-primary {
  background: #f7941e; /*Orange*/
}
.background-secondary {
  background: #00aeef; /*Blue*/
}
.background-tertiary {
  background: #8dc63f; /*Green*/
}
.background-quaternary {
  background: #594a42; /*Brown*/
}
.background-quinary {
  background: #e7e1d7; /*Tan/
}